/* ---------- Body ---------- */


* {
	box-sizing:  border-box;
}

body {
	display: grid;
	font-family: 'Open Sans', sans-serif;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 13fr;
	grid-template-areas: 
		"header header"
		"nav main";
	height: 100vh;
}

.flex {
	display: flex;
}


/* --------- Header --------- */


header {
	background-color: #1E203D;
	flex-direction: row;
	font-weight: 800;
	grid-area: header;
	justify-content: space-between;
}

h1 {
	align-self: center;
	color: white;
	font-size: 2em;
	margin: 10px;
}

h1 span {
	color: #FEC40E;
}

.header__search-bar {
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
	width: 340px;
}

.header--search__input {
	border: none;
	height: 48px;
	width: 80%;
}

.header--search__icon {
	background-color: #C7D3D8;
	border-radius: 3px 0px 0px 3px;
	height: 48px;
	padding: 10px;
}



select {
	background-color: #C7D3D8;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #1E203D;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  text-align-last: center;
	-webkit-appearance: none;
  width: 60px;
}


/* ----------- Nav ---------- */


nav {
	background-color: #597988;
	font-weight: 400;
	grid-area: nav;
	flex-direction: column;
}

form {
	border-bottom: solid 2px rgba(55, 96, 138, .5);
	flex-direction: column;
	padding-bottom: 10px;
}

.form__button {
	background-color: #1E203D;
	border-radius: 3px;
	border: none;
	color: white;
	height: 40px;
	margin: 10px;
}

.form__input {
	border-radius: 3px;
	border: 2px solid #0A0F43;
	height: 40px;
}

.form__input--task-title {
	margin: 10px;
}

.form__task-input {
	align-items: center;
	margin: 10px;
}

.form__input--task-item {
	border-radius: 3px 0px 0px 3px;
	width: 100%;
}

.form__task-input button {
	background-color: #0A0F43;
	border: none;
	border-radius: 0px 3px 3px 0px;
	color: white;
	font-size: 2.3em;
	font-weight: 200;
	height: 40px;
	margin: 0;
	width: 45px;
}

.plus-icon {
	margin-bottom: 3px;
}

.form__label {
	color: white;
	font-size: 0.8em;
	margin: 10px 0px 0px 10px;
}

.form__button--filter-by-urgency {
	margin-top: 20px;
}

.filter-urgency-btn-active {
	background-color: #EF4A23;
}

.task-item {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin: 7px 30px;
}

.task-item__icon--delete {
	height: 30px;
	margin-right: 10px;
}


/* ---------- Main ---------- */


main {
	background-color: #F2F6F7;
	border: solid 2px rgba(55, 96, 138, 1);
	column-gap: 2em;
	column-width: 350px;
	font-weight: 400;
	grid-area: main;
	padding: 40px 40px 0px 40px;
	width: 100%;
}

h3 {
	color: #1E203D;
	font-size: 1.2em;
	font-weight: 200;
	padding: 20px;
	text-align: left;
}

.hide {
	display: none;
}


/* ---------- Card ---------- */


.todo-card {
	border: solid 2px #C7D3D8;
	display: inline-block;
	margin-bottom: 40px;
	width: 100%;
}

h2 {
	font-size: 1.3em;
	margin: 10px;
}

.todo-card__top {
	width: 100%;
}

.todo-card__middle--active {
	flex-direction: column;
	border-top: 2px solid #FEC40E;
	border-bottom: 2px solid #FEC40E;
}

.todo-card__middle {
	flex-direction: column;
}

.todo-card__middle--border {
	border-top: 2px solid #C7D3D8;
	border-bottom: 2px solid #C7D3D8;	
}

.todo-card__middle--task {
	align-items: center;
	justify-content: flex-start;
	margin: 20px 20px;
}

.todo-card__middle--task--checkbox {
	height: 20px;
	margin-right: 10px;
}

.todo-card__checkbox {
	display: none;
}

.task-checked {
	font-style: italic;
	color: #3C6577;
}

.checkbox-checked {
	fill: #3C6577; 
}

.todo-card__bottom {
	align-items: center;
	justify-content: space-between;
}

.todo-card__bottom--urgent, 
.todo-card__bottom--delete {
	height: 20px;
}

.todo-card__bottom__icon {
	flex-direction: column;
	margin: 10px;
}

.todo-card__bottom__icon p {
	margin: 0;
	color: #3C6577;
}

.todo-card__bottom__input {
	align-items: center;
	justify-content: center;
	width: 100%;
}

.todo-card__bottom__input input {
	height: 40px;
	border: 1px solid #3C6577;
	border-radius: 3px 0px 0px 3px;
	width: 150px;
}

.todo-card__bottom__input button {
	background-color: #3C6577;
	border: none;
	border-radius: 0px 3px 3px 0px;
	color: white;
	font-size: 2em;
	font-weight: 400;
	height: 40px;
	width: 40px;
}

.todo-card__bottom__input button img {
	padding-top: 3px;
}

.todo-card--active {
	background-color: #FFE79D;
	border: 2px solid #FEC40E;
}


/* --------------- Media Queries ----------------- */


@media screen and (max-width: 630px) {

	h1 {
		font-size: 1.6em;
	}

	body {
	display: grid;
	display: block;
	}

	.header__search-bar {
	width: 95%;
	}

	header {
		flex-direction: column;
		align-items: center;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.todo-card {
	border: solid 2px #C7D3D8;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	}

	.todo-card__bottom__input input {
		width: 100%;
	}

	input::placeholder {
		font-size: .8em;
	}
}

